<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brisbane International</key>
	<string>http://www.brisbaneinternational.com.au/</string>
	<key>Aircel Chennai Open</key>
	<string>http://www.aircelchennaiopen.org/</string>
	<key>Qatar ExxonMobil Open</key>
	<string>http://www.qatartennis.org/home/index</string>
	<key>Medibank International Sydney</key>
	<string>http://www.medibankinternational.com.au/</string>
	<key>Heineken Open</key>
	<string>http://www.heinekenopen.co.nz/</string>
	<key>Australian Open</key>
	<string>http://www.australianopen.com/en_AU/index.html</string>
	<key>SA Tennis Open</key>
	<string>http://www.satennisopen.co.za/</string>
	<key>PBZ Zagreb Indoors</key>
	<string>http://www.zagrebindoors.com/</string>
	<key>Movistar Open</key>
	<string>http://www.movistaropen.cl/</string>
	<key>SAP Open</key>
	<string>http://www.sapopentennis.com/index2.html</string>
	<key>ABN AMRO World Tennis Tournament</key>
	<string>http://www.abnamrowtt.nl/</string>
	<key>Brasil Open</key>
	<string>http://www2.uol.com.br/tenisbrasil/brasilopen/</string>
	<key>Open 13</key>
	<string>http://www.open13.fr/</string>
	<key>Regions Morgan Keegan Championships</key>
	<string>http://www.memphistennis.com/home</string>
	<key>Copa Telmex</key>
	<string>http://www.copatelmex.com/</string>
	<key>Barclays Dubai Tennis Championships</key>
	<string>http://www.barclaysdubaitennischampionships.com/</string>
	<key>Abierto Mexicano Telcel</key>
	<string>http://abiertomextenis.com.mx/</string>
	<key>Delray Beach International Tennis Championships</key>
	<string>http://www.yellowtennisball.com/</string>
	<key>Davis Cup First Round</key>
	<string>http://www.daviscup.com/</string>
	<key>BNP Paribas Open</key>
	<string>http://www.bnpparibasopen.org/</string>
	<key>Sony Ericsson Open</key>
	<string>http://www.sonyericssonopen.com/</string>
	<key>Grand Prix Hassan II</key>
	<string>http://www.arryadia.com/mtt</string>
	<key>US Men's Clay Court Championship</key>
	<string>http://www.mensclaycourt.com/</string>
	<key>Monte-Carlo Rolex Masters</key>
	<string>http://www.monte-carlorolexmasters.com/</string>
	<key>Barcelona Open BancSabadell</key>
	<string>http://www.barcelonaopenbancosabadell.com/</string>
	<key>Internazionali BNL d'Italia</key>
	<string>http://www.internazionalibnlditalia.it/</string>
	<key>BMW Open</key>
	<string>http://www.sunrisetennis.com/</string>
	<key>Serbia Open 2010</key>
	<string>http://www.serbiaopen.rs/</string>
	<key>Estoril Open</key>
	<string>http://www.estorilopen.net/</string>
	<key>Estoril Open</key>
	<string>http://www.estorilopen.net/</string>
</dict>
</plist>
